<div class="container d-flex justify-content-center align-items-center flex-column my-5 my-lg-0 min-height">
    <div class="row my-5 my-lg-0">
        <div class="col-12">
            <img class="w-50 d-block mb-5 mx-auto" src="../../../assets/moviehome-logo-png.png" alt="logo">
        </div>
    </div>



    <div class="row">
        <div class="mb-5 mb-lg-0 col-12 col-lg-6">
            <app-sign-in></app-sign-in>
        </div>
        
        
        <div class="mt-5 mt-lg-0 col-12 col-lg-6">
            <app-sign-up></app-sign-up>
        </div>
    </div>
</div>